.navbar {
    background-color: #203249;
  }
  .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.1rem;
  }
  .navbar-nav .nav-item {
    padding: 0 .5rem;
  }

  section.hero {
    background-color: #8d9fc5;
    padding-top: 80px;
    padding-bottom: 70px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }

  section [class^="container"] {
    padding: 4rem 2rem;
  }
  @media screen and (max-width: 576px) {
    section [class^="container"] {
      padding: 4rem;
    }
    nav [class^="container"] {
      padding: 0 4rem;
    }
    section.hero {
        text-align: center;
      }
      section.hero .img-fluid {
        width: 80%;
      }
  }

  @media screen and (min-width: 1024px) {
    section.about {
      width: 75%;
      text-align: center;
      margin: 0 auto;
    }
    section.container {
        width: 75%;
      }
  }

  section:nth-child(2n) {
    background-color: #ecf2ff;
  }

  section.projects {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    text-align: center;
  }
  section.card {
    max-width: 17rem;
    text-align: left;
   
  }
  .btn-outline-dark {
    border: 2px solid #000000;
    box-shadow: 4px 4px #000000;
    transition: all 0.4s;
  }
  .btn-outline-dark:hover {
    box-shadow: 4px 4px #f5a841;
  }

  section.contact {
    text-align: center;
    padding: 0 0.5rem;
    font-size: 1.3rem;
    width: 75%;
    margin: 0 auto;
    }

    section.social-media {
        display: flex;
        justify-content: center;
    }

  a {
    color: #000000;
    text-decoration: none;
    transition: all .3s;
  }
  a:not(.btn):hover {
    color: #f5a841;
  }
  
  section.tech-stack  {
    text-align: center;
    padding: 0 0.5rem;
    font-size: 1.3rem;
    width: 75%;
    margin: 0 auto;
    
  }

  .skill-item {
    width: 200px;
    height: 200px;
  }
  .skill-item1 {
    width: 100px;
    height: 100px;
  }

  .footer {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .footer .container {
      margin-bottom: 0;
  }

  section.footer {
      margin: 0;
      padding: 0;
  }